@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: "Lexend", ui-sans-serif, system-ui, sans-serif;

  --color-cerise-50: #fdedf0;
  --color-cerise-100: #fbdae1;
  --color-cerise-200: #f9b8c6;
  --color-cerise-300: #f68fa8;
  --color-cerise-400: #f4648d;
  --color-cerise-500: #e82e71;
  --color-cerise-600: #bb235a;
  --color-cerise-700: #8d1842;
  --color-cerise-800: #650e2d;
  --color-cerise-900: #3c0518;
  --color-cerise-950: #29020e;
}

/* Custom styles */
.dark-radial-gradient {
  background-image: radial-gradient( circle farthest-corner at 30% 00%, #e82e71 20%, #650e2d 100% );
}

html,
body {
  background-color: white;
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
